body {
  background-color: #282c34;
}
.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  padding: 0 10px 0 0;
  height: calc(30px + 1vmin);
  pointer-events: none;
}

.App-logo svg path{
  fill: #fff;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  color: #fff;
}

.findMe{
  color: #fff;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.logo {
  height: 30px;
  margin: 5px;
}

a {
  color: #fff;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
